<template>
  <div class="view-file">
    <section><TextInput label="Project Name: " objKey="projectName" @updateUserData="updateData" :required="true"/></section>
    <section><DropDownInput label="File Format: " objKey="output" @updateUserData="updateData" :required="true"/></section>
    <section><AddCheckBoxInput label="Display Size(s): " :required="true"/></section>
    <section><CheckBoxInput label="Social Media Size(s): "/></section>
  </div>
</template>

<script>
import TextInput from '../components/TextInput.vue'
import DropDownInput from '../components/DropDownInput.vue';
import AddCheckBoxInput from '../components/AddCheckBoxInput.vue'
import CheckBoxInput from '../components/CheckBoxInput.vue'

export default {
  name: "File",
  components: {
    TextInput,
    DropDownInput,
    AddCheckBoxInput,
    CheckBoxInput,
  },
  methods: {
    updateData(obj) {
      let key = Object.keys(obj)[0];
      let mutation = "set" + key[0].toUpperCase() + key.slice(1);
      this.$store.commit(mutation, obj[key]);
    },
  },
}
</script>

<style lang="scss">
.view-file {
  text-align: left;
  section {
    margin: 4%;
  }
}
</style>