<template>
  <div class="view-palette">
    <button class="view-palette-button" v-for="(color, index) in this.template.colorOptions" :key={index}
      @click="updateUserData(color, index)" name="color"
      :class="{selected: this.selectedIndex === index}"
      :style="{background: `linear-gradient(to right, ${color.split(' & ')[0]} 50%,  ${color.split(' & ')[1]} 50%)`}"
      type="button">
    </button>
  </div>
</template>

<script>
export default {
  name: "Palette",
  inject: ['template'],
  methods: {
    updateUserData(color, index) {
      this.selectedIndex = index;
      this.$store.commit('setColor', color);
    }
  },
  data() {
    return {
      selectedIndex: -1,
    }
  }
}
</script>

<style lang="scss">
.view-palette {
  text-align: center;
  margin: 5%;
  &-button {
    margin: 20px;
    padding: 50px;
    transition: 0.1s ease;
    border: none;
    border-radius: 10%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    &:active {
      transform: scale(0.97);
    }
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    }
  }
  .selected {
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  }
}
</style>