<template>
  <div class="view-submit">
    <div class="view-submit-fileinfo">
      <h3>File Information</h3>
      <div class="view-submit-info">
        <p class="view-submit-info-icon"><Icon className="fas fa-pen" toggle="" @clickHandler="this.currentPage = 1"/></p>
        <p>Name: <i>{{ this.userData.projectName }}</i></p>
        <p>
          Display Sizes:
          <i>{{ this.userData.displayWidth }}(W) x {{ this.userData.displayHeight }}(H) &nbsp;</i>
          <i v-if="Object.keys(this.mediaSize).length !== 0">{{ Object.keys(this.mediaSize) }}</i>
        </p>
        <p>Format: <i>{{ this.userData.output }}</i></p>
      </div>
    </div>
    <div class="view-submit-colors">
      <h3>Colors</h3>
      <div class="view-submit-info">
        <p class="view-submit-info-icon"><icon className="fas fa-pen" toggle="" @clickHandler="this.currentPage = 2"/></p>
        <p>
          Color:
          <i class="view-submit-colors-color"
            :style="{background: `linear-gradient(to right, ${this.color.split(' & ')[0]} 50%,  ${this.color.split(' & ')[1]} 50%)`}">
          </i>
        </p>
      </div>
    </div>
    <div class="view-submit-texts">
      <h3>Text</h3>
      <div class="view-submit-info">
        <p class="view-submit-info-icon"><Icon className="fas fa-pen" toggle="" @clickHandler="this.currentPage = 3"/></p>
        <p v-for="(text, index) in this.template.numberOfTextFields" :key={index}>
          Text {{ index+1 }}: 
          <i>{{this.$store.state.textFields[index+1]}}</i>  
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import Icon from "./../components/Icon.vue"
export default {
  name: "Submit",
  components: {
    Icon
  },
  inject: ['template'],
  computed: {
    userData: {
      get() {
        return this.$store.state.userData;
      },
    },
    color: {
      get() {
        return this.$store.state.userData.colors;
      }
    },
    currentPage: {
      get() {
        return this.$store.state.currentPage;
      },
      set(page) {
        this.$store.state.currentPage = page;
      }
    },
    mediaSize: {
      get() {
        return this.$store.state.mediaSize;
      }
    }
  },
}
</script>

<style lang="scss">
.view-submit {
  text-align: left;
  &-fileinfo {
    margin: 20px;
  }
  &-colors {
    margin: 20px;
    &-color {
      margin-left: 10px;
      padding: 5px 15px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
  &-texts {
    margin: 20px;
  }
}
.view-submit-info {
  &-icon {
    float: right;
  }
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 20px;
}
</style>