<template>
  <div class="view-submitted">
    <p class="view-submitted-message">THANK YOU FOR YOUR SUBMISSION!</p>
    <div class="view-submitted-data">
      {
      <div class="view-submitted-data-element" v-for="(key, index) in Object.keys(this.userData)" :key="index">{{ key }} - {{ this.userData[key] }}</div>
      }
    </div>
  </div>
</template>

<script>
export default {
  name: "Submitted",
  computed: {
    userData: {
      get() {
        return this.$store.state.userData;
      }
    }
  }

}
</script>

<style lang="scss">
.view-submitted {
  &-message {
    font-size: 30px;
    font-weight: 800;
  }
  &-data {
    position: relative;
    text-align: left;
    left: 30%;
    &-element {
      text-indent: 30px;
    }
  }
}
</style>