<template>
  <div class="view-texts">
    <TextInput v-for="index in this.template.numberOfTextFields" :key="index+1" 
      :label="'Text ' + index + ' (Optional)'" :objKey="'Text ' + index" @updateUserData="updateData" :required="false"/>
  </div>
</template>

<script>
import TextInput from "./../components/TextInput.vue"
export default {
  name: "Text",
  components: {
    TextInput,
  },
  inject: ['template'],
  methods: {
    updateData(newText) {
      this.$store.commit('addText', newText);
    }
  }
}
</script>

<style lang="scss">
.view-texts {
  & > * {
    margin: 1%;
  }
}
</style>