<template>
  <div class="component-addcheckboxinput">
    <Popup @clickHandler="addDisplay"/>
    <span class="component-addcheckboxinput-span">
      <label class="component-addcheckboxinput-span-label">{{ label }} &nbsp;</label>
      <span class="component-addcheckboxinput-span-displays">
        <i v-if="Object.keys(this.displays).length === 0">--- empty ---</i>
        <i class="component-addcheckboxinput-span-displays-display" v-for="(display, index) in Object.keys(this.displays)" :key={index}>
          <input type="radio" name="display" @change="updateUserdata(display)" :required="required"/>
          ({{display}})
        </i>
      </span>
      <span class="component-addcheckboxinput-span-icon">
        <Icon className="fas fa-plus" toggle="modal"/>
      </span>
    </span>
  </div>
</template>

<script>
import Icon from './Icon.vue'
import Popup from './Popup.vue'

export default {
  name: "AddCheckBoxInput",
  components: {
    Icon,
    Popup,
  },
  props: {
    label: String,
    required: Boolean,
  },
  data() {
    return {
      displays: {},
    }
  },
  methods: {
    addDisplay(display) {
      if (display.width !== 0 && display.height !== 0) {
        let key = display.width.toString() + ' x ' + display.height.toString();
        this.displays[key] = 0
      }
    },
    updateUserdata(display) {
      let [width, height] = [display.split(' x ')[0], display.split(' x ')[1]];
      this.$store.commit('setDisplayWidth', parseInt(width));
      this.$store.commit('setDisplayHeight', parseInt(height));
    }
  },
}
</script>

<style lang="scss">
.component-addcheckboxinput {
  &-span {
    display: flex;
    width: 100%;
    &-displays {
      display: flex;
      flex-wrap: wrap;
      float: left;
      &-display {
        margin-left: 5px;
      }
    }
    &-icon {
      float: right;
    }
  }
}
</style>