<template>
  <div class="component-button">
    <button :type="type" id="button" @click="handleClick(text)">{{ text }}</button>
  </div>  
</template>

<script>
export default {
  name: "Button",
  props: {
    text: String,
    type: String,
  },
  methods: {
    handleClick(text) {
      this.$emit('clickHandler', text);
    }
  }
}
</script>

<style lang="scss">
  .component-button {
    margin: 0 10px;
    #button {
      background-color: rgb(66, 66, 167);
      color: white;
      padding: 5px 20px;
      font-size: 10px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      border: none;
      border-radius: 20%;
      transition: 0.3s ease;
      &:hover {
        background-color: rgb(114, 94, 233);
      }
    }
  }
</style>"