<template>
  <div class="component-checkboxinput">
    <span class="component-checkboxinput-span">
      <label class="component-checkboxinput-span-label">{{ label }} &nbsp;</label>
      <span class="component-checkboxinput-span-checkboxes">
        <span class="component-checkboxinput-span-checkboxes-item">
          <input type="checkbox" value="standard" @change="addMediaSize($event)"/>
          <label name="standard">Standard</label>
        </span>
        <span class="component-checkboxinput-span-checkboxes-item">
          <input type="checkbox" value="HD" @change="addMediaSize($event)"/>
          <label name="HD">HD</label>
        </span>
      </span>
    </span>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
export default {
  name: "CheckBoxInput",
  props: {
    label: String,
  },
  methods: {
    ...mapMutations([
      'addMediaSize',
      'removeMediaSize'
    ]),
    addMediaSize(e) {
      if (e.target.checked) {
        this.$store.commit('addMediaSize', e.target.value);
        return;
      }
      this.$store.commit('removeMediaSize', e.target.value);
    }
  },
}
</script>

<style lang="scss" scoped>
.component-checkboxinput {
  &-span {
    display: grid;
    grid-template-columns: 4fr 6fr;
    &-checkboxes {
      display: flex;
      flex-wrap: wrap;
      &-item {
        margin-left: 10px;
      }
    }
  }
}
</style>