<template>
  <div class="component-dropdowninput">
    <span class="component-dropdowninput-span">
      <label class="component-dropdowninput-span-label" :name="label">{{label}} &nbsp;</label>
      <select class="component-dropdowninput-span-input" :name="objKey" default="" v-model="selectedValue" @change="updateUserData" required>
        <option value="" selected disabled></option>
        <option v-for="(x,idx) in this.template.outputOptions" :key={idx}>
          {{ x }}
        </option>
      </select>
    </span>
  </div>  
</template>

<script>
export default {
  name: "DropDownInput",
  props: {
    label: String,
    objKey: String,
  },
  data() {
    return {
      selectedValue: "",
    }
  },
  methods: {
    updateUserData(e) {
      let obj = {};
      obj[e.target.name] = this.selectedValue;
      this.$emit('updateUserData', obj);
    }
  },
  inject: ['template'],
}
</script>

<style lang="scss" scoped>
.component-dropdowninput {
  &-span {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    &-input {
      min-width: 100%;
    }
  }
}
</style>