<template>
  <div class="component-icon">
    <i :class=className id="icon"
      :data-bs-toggle="toggle" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap" @click="handleClick">
    </i>
  </div>
</template>

<script>
export default {
  name: "Icon",
  props: {
    className: String,
    toggle: String,
  },
  methods: {
    handleClick() {
      this.$emit('clickHandler');
    },
  },
}
</script>

<style lang="scss">
.component-icon {
  #icon {
    cursor: pointer;
    transition: 0.1s ease;
    margin-left: 10px;
    &:active {
      transform: scale(0.8);
    }
  }
}
</style>