<template>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Display</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Resolution Width (pixel)</label>
              <input class="form-control" id="message-text" type="number" v-model="this.display.width" required/>
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Resolution Height (pixel)</label>
              <input class="form-control" id="message-text" type="number" v-model="this.display.height" required/>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="addDisplay">Add</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Popup",
  data() {
    return {
      display: {
        width: null,
        height:null
      }
    }
  },
  methods: {
    addDisplay() {
      this.$emit('clickHandler', this.display);
    },
  }
}
</script>

<style lang="scss">
</style>