<template>
  <div class="component-textinput">
    <span class="component-textinput-span">
      <label class="component-textinput-span-label">{{label}} &nbsp;</label>
      <input class="component-textinput-span-input" type="text" :name="objKey" id="input" v-model="inputText" @change="updateUserData" :required="required"/>
    </span>
  </div>
</template>

<script>

export default {
  name: "TextInput",
  props: {
    label: String,
    objKey: String,
    required: Boolean,
  },
  data() {
    return {
      inputText: "",
    }
  },
  methods: {
    updateUserData(e) {
      let key = e.target.name;
      if (e.target.name.slice(0,4) === "Text") {
        key = e.target.name.split(' ')[1];
      }
      let obj = {};
      obj[key] = this.inputText;
      this.$emit('updateUserData', obj);
    }
  },
}
</script>

<style lang="scss" scoped>
.component-textinput {
  &-span {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    &-input {
      min-width: 100%;
      display: flex;
    }
  }
}
</style>