<template>
  <div class="App">
    <div class="App-header">
      <img class="App-header-image" src="https://1000logos.net/wp-content/uploads/2017/06/Logo-Samsung.png"/>
      <i class="App-header-header">{{ this.headers[this.currentPage-1] }}</i>
    </div>
    <div class="App-forms">
      <form class="App-forms-form" @submit.prevent="handleClick">
        <div :class="{remove : this.currentPage === 5}" class="progress" :style="{margin: '20px'}">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" :style="{width: `${this.currentPage*25}%`}"></div>
        </div>
        <File :style="{display: this.currentPage === 1 ? 'block' : 'none'}"/>
        <Palette :style="{display: this.currentPage === 2 ? 'block' : 'none'}"/>
        <Text :style="{display: this.currentPage === 3 ? 'block' : 'none'}"/>
        <Submit :style="{display: this.currentPage === 4 ? 'block' : 'none'}"/>
        <Submitted :style="{display: this.currentPage === 5 ? 'block' : 'none'}"/>
        <div class="App-forms-form-buttons">
          <Button :text="this.currentPage === 5 ? 'Go Back' : 'Previous'" type="button"
            :style="{display: this.currentPage === 1 ? 'none' : 'block'}" @clickHandler="goBack"/>
          <Button :text="this.currentPage === 4 ? 'Submit' : 'Next'" type="submit"
            :style="{display: this.currentPage < 5 ? 'block' : 'none'}"/>
        </div>
        
      </form>
    </div>
  </div>
</template>

<script>
// Components
import File from './views/File.vue'
import Palette from './views/Palette.vue'
import Text from './views/Text.vue'
import Submit from './views/Submit.vue'
import Submitted from './views/Submitted.vue'
import Button from './components/Button.vue'
// axios
import axios from 'axios';
// Vue
import { computed } from '@vue/runtime-core'
import { headers } from './assets/Header.js';

export default {
  name: 'App',
  components: {
    File,
    Palette,
    Text,
    Submit,
    Submitted,
    Button,
  },
  methods: {
    handleClick() {
      if (this.$store.state.userData.displayWidth === null && this.$store.state.userData.displayHeight === null) {
        alert("Please CREATE (+) a display size.")
        return;
      }
      if (this.currentPage === 2 && this.$store.state.userData.colors === "") {
        alert("Please select a color.");
        return;
      }
      if (this.currentPage === 4) {
        this.$store.commit('exportText');
      }
      this.currentPage += 1;
    },
    goBack() {
      if (this.currentPage === 5) {
        this.currentPage = 1;
        this.$store.state.userData.textFields = [];
        return;
      }
      this.currentPage -= 1;
    }
  },
  data() {
    return {
      template: {},
      headers: headers,
    }
  },
  provide() {
    return {
      template: computed(() => this.template),
    }
  },
  mounted() {
    axios.get("https://hoazygo0r9.execute-api.us-west-2.amazonaws.com/default/wizard-test")
    .then(res => {
      this.template = res.data;
    })
    .catch(err => {
      console.log(err);
    })
  },
  computed: {
    currentPage: {
      get() {
        return this.$store.state.currentPage;
      },
      set(page) {
        this.$store.state.currentPage = page;
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.App {
  text-align: center;
  &-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-image {
      width: 100px;
      height: auto;
      margin: 20px 0 0 40px;
    }
    &-header {
      margin-bottom: 20px;
    }
  }
  &-forms {
    min-height: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    &-form {
      width: 70%;
      max-width: 500px;
      margin: 0 auto;
      &-buttons {
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 20px 0;
      }
    }
  }
}
.remove {
  display: none;
}
</style>
